.radio-item {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  .radio-text {
    color: white
  }
  

  .action-button {
    padding: 8px 16px;
    background-color: #72c0f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .action-button:disabled {
    background-color: #aaa; /* Grey for disabled buttons */
    cursor: not-allowed;
  }

.action-button:hover,
.action-button:hover {
    background-color: #88d63f;
}

  .subsection-header {
    color: #72c0f3;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
  